@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
  --lite_pg_font_clr: rgba(40, 41, 56, 0.541);
  
}
/* ==============common=========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--fnt_primary);
  color: var(--clr_dark_blue);
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
}
a,
span {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
.commonLink {
  color: white;
}
.commonLink:hover {
  color: var(--clr_yellow);
  transition: var(--trn_delay);
}
/* ==========Navbar=================== */
.navbar {
  background-color: var(--clr_tint_blue) !important;
  color: white;
}
.navbar-toggler-icon {
  filter: invert(1);
}
.customBtnPrimary {
  border-radius: 41px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 3rem;
  transition: var(--trn_delay);
}
.customBtnPrimary:hover {
  background-color: var(--clr_yellow) !important;
  color: var(--clr_tint_blue) !important;
}
.--btnMod {
  margin-left: 100px;
}
#navbar .active {
  position: relative;
}
#navbar .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-7px);
}
.customNavLink {
  position: relative;
}
.customNavLink:hover::before {
  width: 100%;
}
.customNavLink::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transform: translateY(-7px);
  transition: var(--trn_delay);
}
.--linkMod:hover {
  color: var(--clr_tint_blue) !important;
}

/* =======================================YOUR WORK STARTS FROM HERE========================================= */

#DesignCase{
  padding-top: 128px; 
  padding-bottom: 48px;
}

.DesignCase__miniTitle{
  font-size: 24px;
  font-weight: 500;
  line-height: 38px;

  color: var(--clr_text_faded);
}
.DesignCase__MainTitle{
  width:646px ;
  height: 128px;

  font-size: 48px;
  font-weight: 600;
  line-height: 64px;

  padding-bottom: 16px;
  color: var(--clr_text_faded);
}

.DesignCase__Summary{
  width: 817px;

  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: var(--lite_pg_font_clr);
}

.DesignCase__Pic{
  padding-top: 48px;
}

/*  --✧･ﾟ: *✧･ﾟ:*   social link Hoalder 　　*:･ﾟ✧*:･ﾟ✧ */

.SocialLinkHoalder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  padding-left: 10px;
}

/*                 /)  /)  ~ ┏━━━━━━━━━━━━━━━━━┓
                  ( •-• )  ~ ♡ Under Line     ♡
                  /   づづ ~ ┗━━━━━━━━━━━━━━━━━┛ 
          
 */

 .SocialLinkHoalder::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background:var(--lite_pg_font_clr);
  top: 120%;
  bottom: 0%;


}


.SocialLink__Title{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px ;

  color: var(--clr_text_faded);
}

.Social__links{
  font-size: 23px;
  font-weight: 500;
  color: var(--clr_dark_blue);
  transition: all linear 0.2s;
}
.Social__links:hover{
  color: var(--clr_royal_blue);
}


/*   ▂▃▄▅▆▇█▓▒░ About the project ░▒▓█▇▆▅▄▃▂  
*/

#AboutProject{
  padding: 96px  0px;

}

.AboutProject__title{
  

  font-size: 38px;
  font-weight: 600;
  line-height: 56px;

  color: var(--clr_text_faded);

}

.AboutProject__pg{
  width: 837.9px;
  font-size: 16px ;
  font-weight: 400;
  line-height: 28px;
  color: var(--lite_pg_font_clr);
}

.AboutProject__list{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--lite_pg_font_clr);

}
.listmargin{
  padding-bottom: 16px;
}
[class="fa-sharp fa-solid fa-circle fa-beat"]{
  font-size: 10px;
  color: var(--clr_text_faded);
  padding-right: 10px;
}



.Aboutimagepadding{

  margin-left: 219px ;
  padding-top: 64px;
  padding-bottom: 64px;
}





/*
                        
                        ┎┈┈┈┈┈┈┈୨♡୧┈┈┈┈┈┈┈┒
                           services part
                        ┖┈┈┈┈┈┈┈୨♡୧┈┈┈┈┈┈┈┚

*/


.ServicesPartBoder{
  display: flex;
  flex-direction: row;
  column-gap:53px ;
  padding: 96px 0px;

  position: relative;

}
.ServicesPartBoder::after{
  position: absolute;

  content: "";
  width: 86%;
  height: 1%;
  left: 0;
  bottom:24% ;
  background:var(--lite_pg_font_clr);

}

.ServicesPartBoder::before{
  position: absolute;

  content: "";
  width: 86%;
  height: 1%;
  left: 0;
  bottom:76% ;
  background: var(--lite_pg_font_clr);

}



.services_Link{

  font-size: 18px;
  font-weight: 500;
  line-height: 32px;

  color: var(--lite_pg_font_clr);
  transition: all linear 0.4s;

}

.services_Link:hover{
  font-size: 24px;
  line-height: 36px;
  color: var(--clr_royal_blue);

}

/*  ( ͡▀̿ ̿ ͜ʖ ͡▀̿ ̿ ) Let's build something great together ( ͡▀̿ ̿ ͜ʖ ͡▀̿ ̿ )
*/

#Together{
  padding: 128px 0px;
}
.Togetherflex{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.Together__title{

  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: var(--clr_text_faded);
  text-align: center;
}

.Together__Pg{
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--lite_pg_font_clr);
  text-align: center;
}

.Together__Button{
  padding-top: 20px;
  
  align-items: center;

  border-radius: 41px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 5rem;
  transition: var(--trn_delay);
}
.Together__Button:hover{
  background-color: var(--clr_yellow) !important;
  color: var(--clr_tint_blue) !important;
}





/* =================================!!! DONT MODIFY THE #FOOTER SECTION!!!========================================= */
/* ============footer section============== */
#footer {
  padding-top: 128px;
  background-color: var(--clr_tint_blue);
  color: white;
}
#footer .logo img {
  width: 176px;
}
.footerLeftBottom {
  background-color: var(--clr_yellow);
  color: var(--clr_dark_blue);
}
.footerLeft,
.footerRight {
  height: 300px;
}
.footerRightSocials {
  margin-bottom: 120px;
}
.footerRightSocials a {
  color: white;
  transition: var(--trn_delay);
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.footerRightSocials a:hover {
  color: var(--clr_yellow);
}
.footernav {
  background-color: white !important;
  padding: 0 !important;
}
.footernav .navbar-toggler-icon {
  filter: invert(0);
}
.bottomNavLinks {
  font-size: 18px;
  font-weight: 500;
}
.footernav a {
  color: var(--clr_tint_blue) !important;
}
.footerCopyright {
  color: var(--clr_tint_blue);
}