@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 575.98px) {



/* web design and development */

.DesignCase__miniTitle {
	font-size: 15px;
}

.DesignCase__MainTitle {
	font-size: 21px;
	
}

.DesignCase__Summary {
	
	font-size: 14px;
}



/* picture modify */

.DesignCase__Pic {
	padding-top: 23px;
}



/* social link */

.SocialLinkHoalder {
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
	row-gap: 38px;
	padding-left: 0px;
}



/* about the project */

.AboutProject__title {
	font-size: 21px;
}





.listmargin {
	
	margin-right: 36px;
}

/* service link */





.services_Link {
	font-size: 20px;
}

.services_Link:hover{
  font-size: 21px;
 

}


/* Lests build somthing */

.Together__title {
	font-size: 21px;
	font-weight: 600;
	line-height: 33px;
	color: var(--clr_text_faded);
	text-align: center;
	padding-top: 30px;
}

}


  
    
