@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 1199.98px) {
    .footerLeft {
        width: 120%;
    }
    /* ==================Start working from here==================== */


/* Finsweet Design case studies */


.Webdev__MainTitile {

font-size: 38px;
 padding-bottom: 16px;
 height:80px
}


.DesignCase__Summary {

	width: 100%;

}

/* solial link */

.Social__links {

	font-size: 16px;
}


/* about us */
#AboutProject {
	padding: 96px 0px 0px;
}


/* image section */ 

.Aboutimagepadding {
	margin-left: 150px;
}


/* service link befor */ 






.services_Link:hover{

  font-size: 16px;
 

}



.ServicesPartBoder {
	display: flex;
	flex-direction: row;
	column-gap: 0px;
	padding: 96px 0px;
	position: relative;
	justify-content: space-between;
}




.ServicesPartBoder::before{
	
	width: 100%;
	
}

.ServicesPartBoder::after{

  width: 100%;

}

/* build somthing great together */


#Together {

	padding: 14px 0px 48px 0px;
}

.Together__title {
	font-size: 34px;
	
}

  
}
