@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 991.98px) {
    .footerLeft {
        width: 100%;
    }
    .footerRight {
        margin-top: 150px;
        height: fit-content;
    }
    /* ==================Start working from here==================== */


    .DesignCase__miniTitle {
        font-size: 24px;
      
        text-align: center;
    }

    
.DesignCase__Summary {
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }
    

.DesignCase__MainTitle {
       
        font-size: 43px;
        text-align: center;
        margin-left: 20px;
    }
    
    

    
    
    /* About us : */

#AboutProject {
        padding: 96px 0px 0px 0px;
      }
    
.AboutProject__title {
        font-size: 32px;
        text-align: center;
    }
    


.AboutProject__pg {
        width: 100%;
        line-height: 28px;
        font-size: 15px;
        text-align: justify;
    }
.AboutTheProject__list {
        
        padding-left: 2px;
        padding-top: 20px;
    }
    
.Aboutimagepadding {
        margin-left: -2px;
    }
    
    
    
    
    /*  service  link */ 
    
.ServicesPartBoder{
        
        flex-direction: row;
        column-gap: 18px;
        flex-wrap: wrap;
        column-gap: 18px;
        margin-left: 20px;
        
    }



    }
    

