@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 575.98px) {
  .custombannerLeft__title {
    font-size: 26px;
    line-height: 42px;
  }
  .custombannerLeft__summary {
    font-size: 19px;
    line-height: 33px;
  }
 
  .bannerBtn {
    margin-left: 17px !important;
    padding: 9px 30px;
    font-size: 11px;
  }
  
  .pointer__summary {
    font-size: 16px;
    line-height: 24px;
  }
  .project__title {
    font-size: 36px;
  }
  .more--btn{
    font-size: 16px;
  }
  .customoverlay:hover .customoverlayItem {
    width: 100%;
  }
  .customOverlay__title {
    font-size: 23px !important;
    line-height: 45px;
  }
  .customoverlayItem__summary {
    font-size: 12px;
  }
  .custom--project {
    margin-bottom: 84px;
  }
  .CustomServiceTop__tagline {
    font-size: 33px;
    line-height: 46px;
  }
  .customServiceItem__title {
    font-size: 18px;
  }
  .customLeft__title {
    font-size: 16px;
  }
  .customText__title {
    font-size: 21px;
  }
  .number{
    display: none;
  }
  .customheading {
    font-size: 12px;
  }
  .mx-5 {
    margin-left: 0rem !important;
  }
  .customOverlay {
    padding-top: 179px;
    padding-left: 50px;
  }
  .customOverlay__title {
    font-size: 24px;
    line-height: 45px;
  }
  .customContactRight__title {
    margin-top: 20px;
    text-align: center;
  }
  .customContactRight__summary{
    text-align: center;
    font-size: 15px;
  }
  .customRightOverlay {
    padding-top: 40px;
  }
  .inputBtn {
    padding: 13px 0px 18px 30px;
  }
  .customContactRight{
    padding: 10px;
    margin: 0px;
  }
  .customworkLeft__summary {
    font-size: 20px;
  text-align: center;
  }
  .inputBtn {
    padding: 11px 0px 18px 10px;
  }
  .sendBtn {
    padding: 15px 75px;
  }
  .loginBtn{
    text-align: center;
  }

}