@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 1199.98px) {
    .footerLeft {
        width: 120%;
    }
    /* ==================Start working from here==================== */
    .bannerBtn {
      padding: 13px 56px;
      font-size: 16px;
    }
    .custombannerLeft__title {
      font-size: 49px;
    }
    .pointer__tagline {
      font-size: 25px;
    }
    .pointer__summary {
      font-size: 12px;
      line-height: 24px;
    }
    .customworkLeft__title {
      font-size: 38px;
    }
  .custombannerLeft__summary {
      font-size: 14px;
      line-height: 26px;
  }
  .project__title {
    font-size: 38px;
  }
  .customText__title {
    font-size: 32px;
    line-height: 46px;
  }
  .customoverlayItem {
    padding-top: 130px;
  }
  .customoverlayItem__title {
      font-size: 20px;
      line-height: 32px;
  }
  .customoverlayItem__summary {
      font-size: 11px;
      line-height: 20px;
  }
  .pointer__summary {
    font-size: 14px;
    line-height: 26px;
  }
  .customOverlayRight:hover .customRightOverlay {
    width: 100%;
  }
  .customRightOverlay {
    padding-top: 120px;
  }
  
  .customRightOverlay__title {
      font-size: 15px;
      height: 26px;
  }
  .CustomServiceTop__tagline {
      font-size: 39px;
      line-height: 51px;
  }
  .customServiceItem__title {
      font-size: 14px;
  }
  .customServiceItem__summary {
    font-size: 12px;
    line-height: 20px;
  }
  .customLeft__title {
    font-size: 20px;
    line-height: 38px;
  }
  .customText__title {
    font-size: 32px;
    line-height: 39px;
  }
  .customText__summary {
    line-height: 30px;
  }
  .customSummary {
    font-size: 15px;
    line-height: 30px;
  }
  .customClientsbottom {
    column-gap: 15px;
  }
  .customClientsItems__tagline {
    line-height: 11px;
  }
  .customheading {
    font-size: 20px;
  }
  .customOverlay__title {
    font-size: 36px;
    line-height: 50px;
  }
  .customOverlay__summary {
    font-size: 14px;
    line-height: 26px;
  }
  .customContactRight__summary {
    font-size: 14px;
    line-height: 26px;
  }
  .loginBtn ::placeholder {
    font-size: 10px;
  }
  .inputBtn {
    padding: 13px 0px 18px 30px;
  }
  .sendBtn {
    padding: 10px 65px;
  }
  .customCard__tagline {
    font-size: 17px;
    line-height: 30px;
  }
  .customCard__summary {
    font-size: 14px;
    line-height: 24px;
  }
  .ViewPricing {
    font-size: 13px;
  }

  .touch--btn {
      margin-top: 25px;
  }
  /* .sendBtn {
    padding: 6px 65px;
    margin-top: 12px;
  } */
 

  

}
