@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}

@media (max-width: 991.98px) {
    .footerLeft {
        width: 100%;
    }
    .footerRight {
        margin-top: 150px;
        height: fit-content;
    }
    /* ==================Start working from here==================== */
    .custombannerLeft__title {
        font-size: 50px;
        line-height: 67px;
        text-align: center;
    }
    .custombannerLeft__summary {
        font-size: 12px;
        line-height: 26px;
        text-align: center;
    }
    
    .customworkLeft__title {
        text-align: center;
        font-size: 36px;
    }
    .ViewPricing{
        text-align: center;
    }
    .customworkLeft__summary {
        font-size: 20px;
       text-align-last: center;
    }
    .custom--project{
        text-align: start;
        margin-bottom: 50px;
    }
    .customRightOverlay__title {
        font-size: 25px;

    }
  .customRightOverlay__title{
    margin-top: 150px;
    margin-bottom: 50px;
  }
  .customoverlayItem__summary {
	
	margin-bottom:0px;
    font-size: 16px;
}


    .pointer{
        margin-top: 20px;
        text-align: center;
    }
    .customOverlayRight:hover .customRightOverlay {
        width: 90%;
    }
    
    .customOverlayRight {
        margin-top: 30px;
    }
    .customServiceItem {
        text-align: center;
    }
    .customText{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .customText__title {
        font-size: 21px;
        line-height: 10px;
     
    }
    .customContactRight__summary {
        font-size: 19px;
        line-height: 32px;
    }

    .loginBtn ::placeholder {
        font-size: 14px;
    }
    .inputBtn {
        padding: 13px 173px 18px 30px;
    }
    .sendBtn {
        padding: 13px 137px;
        margin-top: 30px;
    }
    .touch--btn{
        margin-bottom: 30px;
    }
    .customCard__tagline {
        font-size: 15px;
        line-height: 15px;
    }

    .customLeft__title {
        font-size: 22px;
        line-height: 33px;
        margin-top: 10px;
    }
    .customClientsItems{
        margin-left: 20px;
    }
    .customText__summary {
        margin-bottom: 20px;
    }
    .number__title {
        font-size: 19px;
    }
    .accordion-body {
        font-size: 16px;
    }
    .pojectImg{
        width: 100%;
    }
    .projectLeftImg{
        width: 100%;
    }
    .customOverlayRight:hover .customRightOverlay {
        width: 100%;
    }
    .cardItem__title {
        font-size: 35px;
    }


}
