@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}
@media (max-width: 767.98px) {
  .custombannerLeft__title {
    font-size: 40px;
    line-height: 60px;
  }
  .custombannerLeft__summary {
    font-size: 19px;
  }
  .bannerImg{
    margin-top: 30px;
  }
  .bannerBtn {
    margin-left: 120px !important;
    padding: 9px 30px;
    font-size: 14px;
  }
  .customworkLeft__summary {
    font-size: 16px;
    margin-left: 110px !important;
    margin-top: 14px;
  }
  .project__title {
    font-size: 42px;
    line-height: 50px;
  }
  .customoverlayItem__title {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 0;
  }
  .customoverlayItem__summary {
    font-size: 11px;
  }
  .customoverlayItem {
    height: 100%;
    padding-top: 96px;
  }
  .customRightOverlay__title {
    margin-top: 40px;
  }
  .customText__summary {
    font-size: 16px;
  }
  .customLeft__title {
    font-size: 17px;
  }
  .customClientsItems {
    margin-left: 10px;
  }
  .customText__title {
    font-size: 20px;
    line-height: 8px;
  }
  .customheading {
    font-size: 17px;
  }
  .accordion-body {
    font-size: 12px;
  }
  .customOverlay__title {
    font-size: 26px;
  }
  .customContactRight__summary {
    font-size: 20px;
  }
  .touch--btn{
    font-size: 16px;
    display: block;
  }
  .inputBtn {
    padding: 10px 0px 15px 10px;
    padding-left: 50px;
  }
  .sendBtn {
    padding: 13px 76px;
    margin-top: 12px;
  }
}