@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --fnt_primary: "Poppins", sans-serif;
  --clr_royal_blue: #2405f2;
  --clr_dark_blue: #282938;
  --clr_tint_blue: #1c1e53;
  --clr_grey: #f4f6fc;
  --clr_yellow: #fcd980;
  --clr_accent: #eef4fa;
  --clr_text_faded: #282938;
  --border-red: 1px solid red;
  --trn_delay: ease-in 0.3s;
  --box_shd: 0 0 20px 20px rgba(0, 0, 0, 0.24);
}
/* ==============common=========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--fnt_primary);
  color: var(--clr_dark_blue);
  overflow-x: hidden;
}
ol,
ul,
li {
  list-style: none;
}
a,
span {
  text-decoration: none;
  display: inline-block;
}
img {
  vertical-align: middle;
}
.pointer {
  cursor: pointer;
}
.commonLink {
  color: white;
}
.commonLink:hover {
  color: var(--clr_yellow);
  transition: var(--trn_delay);
}
/* ==========Navbar=================== */
.navbar {
  background-color: var(--clr_tint_blue) !important;
  color: white;
}
.navbar-toggler-icon {
  filter: invert(1);
}
.customBtnPrimary {
  border-radius: 41px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 1rem 3rem;
  transition: var(--trn_delay);
}
.customBtnPrimary:hover {
  background-color: var(--clr_yellow) !important;
  color: var(--clr_tint_blue) !important;
}
.--btnMod {
  margin-left: 100px;
}
#navbar .active {
  position: relative;
}
#navbar .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: translateY(-7px);
}
.customNavLink {
  position: relative;
}
.customNavLink:hover::before {
  width: 100%;
}
.customNavLink::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  transform: translateY(-7px);
  transition: var(--trn_delay);
}
.--linkMod:hover {
  color: var(--clr_tint_blue) !important;
}

/* =======================================YOUR WORK STARTS FROM HERE========================================= */
/* =======================================Banner Part CSS========================================= */
#bannerPart{
  background-color:var(--clr_tint_blue);
  padding: 148px 0;
}
.bannerPart__title{
  font-size: 54px;
  font-family: var(--fnt_primary);
  font-weight: 600;
  line-height: 74px;
  color: #FFFFFF;
  
}
.bannerPart__summary{
  font-size: 16px;
  font-family: var(--fnt_primary);
  font-weight: 500;
  line-height: 28px;
  color: #FFFFFF;
  margin-top: 32px;
}
.btn--modifire{
  margin-left: 0;
  margin-top: 32px;
}
/* =================================Banner Part CSS End========================================= */

/* =================================100.000+ section css========================================= */
#handedPlus{
  padding: 96px 0;
  background-color: #ffff;
}

/* =================================100.000+ section CSS End========================================= */

/* =================================Card Part Start========================================= */
#cardPart{
  padding: 96px 0;
}
.card__title{
  font-size: 48px;
  font-weight: 600;
  font-family: var(--fnt_primary);
  line-height: 64px;
  text-align: center;
  margin-bottom: 48px;
}
.card__design{
  padding: 50px 48px;
  background-color: var(--clr_accent);
  border-radius: 10px;
}
.cardDegin__title{
  font-size: 24px;
  font-weight: 500;
  font-family: var(--fnt_primary);
  margin-top: 26px;
}
.cardDegin__summary{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fnt_primary);
  margin-top: 12px;
  line-height: 28px;
}
/* =================================Card Part End========================================= */

/* =================================Client Part Start========================================= */
#clientPart{
  padding: 128px 0;
}
.clientPartUse{
  margin-top: 41px;
}
.clientPart__title{
  font-size: 38px;
  font-weight: 600;
  font-family: var(--fnt_primary);
  line-height: 54px;
}
.clientPart__summary{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fnt_primary);
  margin-top: 12px;
  line-height: 28px;
}
/* =================================Card Part End========================================= */
/* =================================Getfree Part Start========================================= */
#Getfree{
  padding: 128px 0;
  background-color: var(--clr_accent);
}
.getFreeSection{
  margin-top: 90px;
}
.getFree__title{
  font-size: 38px;
  font-weight: 600;
  font-family: var(--fnt_primary);
  line-height: 56px;
}
.getFree__summary{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--fnt_primary);
  margin-top: 12px;
  line-height: 28px;
}
/* =================================Getfree Part End========================================= */

/* =================================Support Part css========================================= */
#support{
  padding: 128px;
}
.supportPart{
  margin-top: 60px;
}
/* =================================Support Part css========================================= */

/* =================================quick delivery css========================================= */
#quickDelivery{
  padding: 128px;
  background-color: rgb(244, 242, 234);
}
/* =================================quick delivery css========================================= */

/*------------------- Frequently Part css ------------------- */
#frequentlyPart{
  padding: 128px 0;
  background-color: #FBFCFD;
}
.frequently__title{
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  margin-top: 40px;
}
.frequently__btn{
  font-size: 18px;
  font-weight: 500;
  color: #2405F2;
  opacity: 0.9;
}
.faq__number{
  font-size: 20px;
  font-family: 500;
  color: #2405F2;
}
.acoding__title{
  font-size: 20px;
  font-family: 500;
}
.acoding__summary{
  font-size: 18px;
  font-family: 500;
  opacity: 0.8;
  line-height: 32px;
}
/*------------------- Frequently Part css ------------------- *
/* =================================!!! DONT MODIFY THE #FOOTER SECTION!!!========================================= */
/* ============footer section============== */
#footer {
  padding-top: 128px;
  background-color: var(--clr_tint_blue);
  color: white;
}
#footer .logo img {
  width: 176px;
}
.footerLeftBottom {
  background-color: var(--clr_yellow);
  color: var(--clr_dark_blue);
}
.footerLeft,
.footerRight {
  height: 300px;
}
.footerRightSocials {
  margin-bottom: 120px;
}
.footerRightSocials a {
  color: white;
  transition: var(--trn_delay);
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.footerRightSocials a:hover {
  color: var(--clr_yellow);
}
.footernav {
  background-color: white !important;
  padding: 0 !important;
}
.footernav .navbar-toggler-icon {
  filter: invert(0);
}
.bottomNavLinks {
  font-size: 18px;
  font-weight: 500;
}
.footernav a {
  color: var(--clr_tint_blue) !important;
}
.footerCopyright {
  color: var(--clr_tint_blue);
}